input {
	font-family: $font-primary;

	&::placeholder {
		font-family: $font-primary;
	}
}

body {
	color: $color;
	font-size: 16px;
	line-height: $line-height;
	font-family: $font-primary;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	overflow-x: hidden;

	@include media('>tablet') {
		font-size: $font-size;
	}
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*2*/
::selection {
	color: #000;
	background: $primary-color;
}

p {
	margin: 0 0 8px;
}

a {
	color: $primary-color;

	&:hover {
		color: $primary-color;
	}
}

i,
em {
	font-weight: 400;
}

img {
	max-width: 100%;
	display: block;
}

/*3*/

ol,
ul {
	padding: 0;
	margin: 0;
	counter-reset: li;

	li {
		list-style: none;
		list-style-position: outside;
		position: relative;
		padding-left: 30px;

		&:before {
			content: counter(li, decimal) ".";
			counter-increment: li;
			margin-left: 0;
			margin-right: 0;
			font-weight: 700;
			color: $color;
			position: absolute;
			top: 0;
			left: 0
		}
	}
}

/*4*/

ul {
	li {
		&::before {
			content: "";
			background-color: $primary-color;
			border-radius: 50%;
			width: 10px;
			min-width: 10px;
			height: 10px;
			top: 7px;
		}
	}
}


/*7-8*/
h1,
h2,
h3,
h4,
h5,
h6,
.title_1,
.title_2,
.title_3,
.title_4,
.title_5,
.title_6 {
	line-height: 1;
	color: $white;
	font-weight: 800;
	font-family: $font-primary;
	margin: 0 0 8px;
}

h1,
.title_1 {
	font-size: 50px;
	margin: 0 0 20px;

	@include media('>tablet') {
		font-size: 64px;
		margin: 0 0 45px;
	}
}

h2,
.title_2 {
	font-size: 24px;
}

h3,
.title_3 {
	font-size: 20px;
}

h4,
.title_4 {
	font-size: 18px;
}

h5,
.title_5 {
	font-size: 16px;
}

h6,
.title_6 {
	font-size: 14px;
}


/*10-11*/



.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 17px 35.5px;

	font-weight: 700;
	font-size: 18px;
	font-family: $font-primary;
	text-decoration: none;

	border: 1px solid rgba(255,255,255,.06);
	line-height: 1.1;

	background: linear-gradient(214.25deg, rgba(0, 0, 0, 0.224) 6.73%, rgba(0, 0, 0, 0.084) 100.28%);

	border-radius: 90px;
	// text-shadow: 0px 20.14px 241.69px #13EBD6;

	text-shadow: 0px -2.25px 50.57px rgba(19, 235, 214, .75);

	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

	animation: pulse 2s infinite cubic-bezier(0.6, 0, 0, 1);
	box-shadow: 0 0 rgba(241, 34, 211, .3);

	&:disabled {
		pointer-events: none;
		opacity: 0.3;
	}

	&:hover {
		background-color: $primary-color;
		color: #fff;
		border-color: $primary-color;
	}

	@include media('>tablet') {
		font-size: 32px;
		padding: 30px 45px;
		font-weight: 800;
	}
}

@keyframes pulse {
	100% {
		box-shadow: 0 0 0 22px rgba(241, 34, 211, 0);
	}
}



.btn-primary {
	color: $white;
	background: $primary-color;

	&:hover {
		color: $primary-color;
		background-color: transparent;
		border-color: $primary-color;
	}
}


.btn-link {
	color: #212121;
	background-color: #fff;

	&:hover {
		color: #fff;
		background-color: $primary-color;
	}
}

/*12*/
/*13*/
.scroll-x {
	overflow: auto;
}

.scroll-x::-webkit-scrollbar-thumb {
	background-color: $primary-color;
	border-radius: 5px;
}

.scroll-x::-webkit-scrollbar {
	height: 1px;
	background-color: #DFDCDC;
	border: 0 solid #DFDCDC;
	border-radius: 5px;
}

.scroll::-webkit-scrollbar {
	width: 3px;
	border-radius: 5px;
}

.scroll::-webkit-scrollbar-thumb {
	background-color: $primary-color;
	background-clip: padding-box;
	border: 0 solid #DFDCDC;
	border-radius: 5px;

	&:hover {
		background-color: $primary-color;
		cursor: pointer;
	}
}

.scroll::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: #DFDCDC;
	cursor: pointer;
}

::-webkit-scrollbar-button {
	background-color: transparent;
	display: none;
}

/* IE */
.scroll {
	scrollbar-face-color: $primary-color;
	scrollbar-shadow-color: #DFDCDC;
	scrollbar-highlight-color: #DFDCDC;
}

/* FireFox */
.scroll {
	scrollbar-color: $primary-color #DFDCDC;
	padding-right: 15px
}

.scroll {
	overflow-x: hidden;

	&_x {
		overflow-x: scroll;
		overflow-y: hidden;
		padding-right: 0;
		padding-bottom: 40px;

		@include media('>1280px') {
			overflow-x: hidden;
		}

		&::-webkit-scrollbar {
			height: 2px;
			max-width: 300px;
		}
	}
}


.scroll-heidden::-webkit-scrollbar {
	width: 0px;
}

/*14*/
/*15*/
/*16*/
/*17*/
/*18*/


.container {
	width: 100%;
	padding: 0 20px;
	max-width: 1540px;
	margin: 0 auto;

	&_xm {
		max-width: 1240px;
	}

	&_sm {
		max-width: 1340px;
	}

	&_xl {
		max-width: 1645px;
	}

	&_lg {
		max-width: 1640px;
	}

	&_df {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.wrapper {
	overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
	flex: auto;
    overflow-y: auto;
	background-image: url('./assets/img/bg@2x.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
}




.btn-holder {
	text-align: center;
}
