///fonts///
$font-primary: "Gilroy";
$font-size: 24px;
$section-title: 32px;
$line-height: 1.5;
$color: #FCF2FE;
$font-weight: 500;

///colors///
$white: #fff;
$black: #000;

$primary-color: #F122D3;



$required: $primary-color;
$placeholder: #bdbdbd;


